/PD_avaliacao1_JCL/dist/
/PD_avaliacao1_JCL/nbproject/private/
/RemoteClient_LeilaoESDG/build/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-ejb/build/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-ejb/dist/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-ejb/nbproject/private/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-war/build/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-war/dist/
/TicTacToe/PD_TicTacToe/PD_TicTacToe-war/nbproject/private/
/TicTacToe/PD_TicTacToe/build/
/TicTacToe/PD_TicTacToe/dist/
/TicTacToe/PD_TicTacToe/nbproject/private/
/TicTacToe/PD_TicTacToe_JCL/build/
/TicTacToe/PD_TicTacToe_JCL/dist/
/TicTacToe/PD_TicTacToe_JCL/nbproject/private/
/TicTacToe/PD_TicTacToe_RemoteClient/build/
/TicTacToe/PD_TicTacToe_RemoteClient/nbproject/private/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-ejb/build/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-ejb/dist/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-ejb/nbproject/private/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-war/build/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-war/dist/
/Avaliacao/PD_avaliacao1/PD_avaliacao1-war/nbproject/private/
/Avaliacao/PD_avaliacao1/build/
/Avaliacao/PD_avaliacao1/dist/
/Avaliacao/PD_avaliacao1/nbproject/private/
/Avaliacao/PD_avaliacao1_JCL/build/
/Avaliacao/PD_avaliacao1_JCL/dist/
/Avaliacao/PD_avaliacao1_JCL/nbproject/private/
/Avaliacao/PD_avaliacao1_RemoteClient/build/
/Avaliacao/PD_avaliacao1_RemoteClient/nbproject/private/
/Adv-ea/nbproject/private/
/Adv-ea/Adv-ea-ejb/nbproject/private/
/adv.rcse/nbproject/private/
/adv.rcse/build/
/adv.rcse/dist/
/Adv-ea/Adv-ea-ejb/build/
/Adv-ea/build/
/Adv-ea/dist/
/Adv-ea/Adv-ea-ejb/dist/
/PDTP/nbproject/private/
/PDTP/PDTP-war/nbproject/private/
/PDTP/PDTP-ejb/nbproject/private/
/PDTPrcse/nbproject/private/
/PDTP/dist/
/PDTP/build/
/PDTP/PDTP-ejb/build/
/PDTP/PDTP-ejb/dist/
/PDTP/PDTP-war/dist/
/PDTP/PDTP-war/build/
/PDTP_work/PDTP/PDTP-ejb/build/
/PDTP_work/PDTP/PDTP-ejb/dist/
/PDTP_work/PDTP/PDTP-ejb/nbproject/private/
/PDTP_work/PDTP/PDTP-war/build/
/PDTP_work/PDTP/PDTP-war/dist/
/PDTP_work/PDTP/PDTP-war/nbproject/private/
/PDTP_work/PDTP/build/
/PDTP_work/PDTP/dist/
/PDTP_work/PDTP/nbproject/private/
/PDTP_work/PDTPrcse/dist/
/PDTP_work/PDTPrcse/build/
/PDTP_work/PDTPrcse/nbproject/private/
/ExercicioWeb/nbproject/private/
/ExercicioWeb/ExercicioWeb-war/nbproject/private/
/ExercicioWeb/ExercicioWeb-ejb/nbproject/private/
/PDTP_work/PDTP-web/nbproject/private/
/PDTP_work/PDTP-web/build/
/PDTP_work/PDTP-web/dist/
/PDTP_work/web2/nbproject/private/
/PDTP_work/web2/build/
/PDTP_work/web2/dist/
/PDTP_work/PDTP-web2/nbproject/private/
/PDTP_work/PDTP-web2/build/
/PDTP_work/PDTP-web2/dist/
/PDTP_work/PDTP-jpa/nbproject/private/
/PDTP_work/PDTP-jpa/build/
/PDTP_work/PDTP-jpa/dist/
/PDTP_work/JavaApplication34/nbproject/private/