<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PDTP-ejbPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>jpaentidades.TDenunciasItens</class>
    <class>jpaentidades.TDenunciasVendedores</class>
    <class>jpaentidades.TItens</class>
    <class>jpaentidades.TLicitacoes</class>
    <class>jpaentidades.TMensagens</class>
    <class>jpaentidades.TUtilizadores</class>
    <class>jpaentidades.TVendas</class>
    <class>jpaentidades.TitemsAVenda</class>
    <class>jpaentidades.TitemsJaPagos</class>
    <class>jpaentidades.TitemsPorPagar</class>
    <class>jpaentidades.TitemsSeguidos</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://glassfixe:5432/tp_pd1617"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="u1617"/>
      <property name="javax.persistence.jdbc.password" value="pd1617"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
